<div class="container">
  <h1>{{ itemsCtrl.itemsList.menu_items.length }} {{ itemsCtrl.itemsList.category.name }} Options</h1>
  <div ng-repeat="item in itemsCtrl.itemsList.menu_items">
    <hr>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        {{ item.short_name }}
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        {{ item.name }}
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        {{ item.description }}
      </div>
    </div>
  </div>
</div>
