/* CSS Document */

a {
  color: #9788C2;
}

a:hover {
  color: #7b68b1;
}

body {
  background-color: #22262a;
  color: #fff;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.spacing {
  padding: 1em;
}