/* CSS Document */
body {
    background-color: #22262a;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.data-border {
    border: 3px solid #468461;
    border-radius: 5px;
}

.data-color {
    color: #468461;
}

.no-data-border {
    border: 3px solid #b05d69;
    border-radius: 5px;
}

.no-data-color {
    color: #b05d69;
}