/* CSS Document */

/*** Base CSS for All Devices ***/
a {
    color: #fff;
}

body {
    background-color: #22262a;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    margin-top: 15px;
}

#mobile-nav .navbar-nav {
    background-color: #2d3339;
    margin: 5px -15px 0 -15px;
}

#mobile-nav .nav-item {
    border: 1px solid #22272b;
}

section {
    margin: 10px 0;
    padding: 10px;
}

#chicken {
    background-color: #9788C2;
}

#beef {
    background-color: #607D8B;
}

#sushi {
    background-color: #468461;
}

@media (min-width: 576px) {
    #mobile-nav, .navbar button {
        display: none!important;
    }
}