/* CSS Document */

body {
    background-color: #22262a;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

button > span {
    color: #468461;
 }

.emptyMessage {
    font-weight: bold;
    color: #b05d69;
    font-size: 1.2em;
}

input {
    border-radius: 5px;
    color: #333;
    padding: 3px 5px;
    width: 15%;
}

li {
    margin-bottom: 7px;
    font-size: 1.2em;
}
  
li > button {
    margin-left: 6px;
}